@media screen and (max-width: 980px) {
  /* Новые стили для элементов, когда ширина экрана 980px и меньше */
  /* Шапка */
  * {
    font-size: 10px;
    /* transition: var(--time-anim-3); */
  }
  .head_header {
    height: 32px;
  }
  .profile a {
    padding: 4px 8px;
    border-radius: 4px;
  }
  .logo img {
    width: 100px;
    padding-top: 8px;
  }
  /* Второстепенная шапка */
  .secondary_header {
    height: 32px;
    border-radius: 4px;
    padding: 6px;
    margin: 8px 8px 4px 8px;
  }
  .secondary_header .buttons_in_header button {
    padding: 4px 8px;
    border-radius: 4px;
  }
  /* Контент, таблица */
  main {
    padding: 6px;
    margin: 8px 8px 4px 8px;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .head_header {
    padding: 0px 10px;
    height: 60px;
  }
  .head_header .navbar, .profile {
    display: none;
  }
  .menuNav {
    display: flex;
  }
  .logo img {
    width: 340px;
  }
  .menuNav img {
    padding-top: 2px;
    width: 32px;
  }
  .adaptive_menu_on {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    background: white;
    width: 100%;
    /* height: fit-content; */
    padding: 0 22px;
    /* height: 100%; */
    top: 60px;
    right: 0;
    background: var(--color-headblue);
    overflow-y: scroll;
    margin: auto;
    padding: 5%;
  }
  .adaptive_menu_on a {
    color: white;
    font-size: 14px;
    background: var(--color-secondred);
    padding: 8px 14px;
    margin-bottom: 12px;
    border-radius: 12px;
    width: 90%;
    text-decoration: none;
  }
  .adaptive_menu_on a:active, .adaptive_menu_on .active_adaptive_menu_on {
    background: white;
    color: black;
  }
  .adaptive_menu_nav_li {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
  }
  .adaptive_menu_nav_li a {
    margin-bottom: 10px;
    width: 80%;
  }
  header .secondary_header {
    justify-content: center;
    height: fit-content;
  }
  header .buttons_in_header {
    width: 100%;
    margin-right: 0;
  }
  .buttons_in_header button {
    width: 100%;
    font-size: 14px;
  }
  .infortion_count_data,
  .visible_active_li {
    margin-top: 4px;
    font-size: 12px;
    outline: 1px #0d6efd solid;
    color: #0d6efd;
    padding: 2px 6px;
    width: 100%;

    display: none;
  }
  main table {
    font-size: 18px;
  }
  .modalWindows .col-md-12 {
    width: 100%;
  }
  .modalWindows .col-md-6 {
    width: 60%;
  }
  body .modalWindows {
    padding: 0;
  }
  .modalWindows .modalCreatePerson {
    border-radius: 0px;
  }
}

@media screen and (max-width: 470px) {
  .secondary_header .buttons_in_header {
    /* margin-bottom: 10px; */
  }
  .modalWindows .col-md-6,
  .modalWindows .col-md-4,
  .modalWindows .btn_mw_test_down button {
    width: 100%;
  }
}