/* .personEditForm {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}

.personEdit {
  width: 32%;
  margin: 0 5px 0 5px;
} */

.personEdit .col-md-12 {
  width: fit-content;
}
.personEdit .col-md-6,
.personEdit .col-md-4 {
  width: 100%;
}